.timebox {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;

  span {
    font-size: 1.5rem;
    font-family: 'Nanum Gothic';
  }

  time {
    margin-top: 1rem;
    font-family: 'Nanum Gothic';
    font-weight: 600;
    font-size: 3rem;
    color: #ff884b;
  }

}
